#root {
    min-width: 1280px;
    /* margin: 0 auto; */
    /* padding: 2rem; */
}

.container {
    display: flex;
    height: 100%;
    width: 100vh;
}

.box-30 {
    flex: 0 0 30%;
    min-width: 30vw;
}

.box-70 {
    flex: 0 0 70%;
    min-width: 70vw;
}
